// Used for running server locally without docker, you will need to configure db yourself and modify this .env file

REDIS_HOST=some_host
REDIS_PORT=some_port
REDIS_PASSWORD=some_password
FRONTEND_ADDRESS=http://localhost:5173